*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
